@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root{
        --color-primary: rgb(255 115 179)
    }
}

@layer utilities {
    .width-fit{
        width: fit-content;
    }
    .transitionAction{
        transition: all 0.3s ease-in-out;
    }
}