@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,900;1,100&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root{
        --color-primary: rgb(255 115 179);
        --color-amarillo: #FFD93D;
    }
}

@layer utilities {
    .width-fit{
        width: fit-content;
    }
    .transitionAction{
        @apply duration-300 ease-in-out
    }
}